@charset "UTF-8";
/* 回答はここから */
.card-list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.card {
  margin: 30px;
  width: 200px;
  padding: 10px;
  outline: 10px solid #655;
  box-shadow: 0 0 0 6px #655;
  border-radius: 13px;
  background: #d2b48c;
}